<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sphereon.SDK.Pdf.Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Sphereon.SDK.Pdf.Converter.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>example</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>ac5c0469-aec5-31ca-8cf7-7cb508c8d4ab</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://gw.api.cloud.sphereon.com/pdf/0.1.4</value>
            </setting>
        </Sphereon.SDK.Pdf.Converter.Properties.Settings>
    </applicationSettings>
</configuration>